<br>
<ul class="nav justify-content-center">
  <li class="nav-item">
    <input
      type="number"
      class="form-control"
      [(ngModel)]="pageSize"
      name="pageSize"
      (focus)="disabled = true"
    />
  </li>

  <li class="nav-item">
    <button
      class="btn btn-primary"
      (click)="refreshList()"      
    >
      Refresh
    </button>
  </li>

  <li class="nav-item">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="searchItemQuery"
      name="searchItemQuery"
      (focus)="disabled = true"
    />
  </li>

  <li class="nav-item">
    <button
      class="btn btn-primary"
      (click)="previous()"
      [disabled]="currentPage === 1 || disabled"
    >
      Previous
    </button>
  </li>

  <li class="nav-item">
    <button
      class="btn btn-primary"
      (click)="next()"
      [disabled]="topics.length !== pageSize || disabled"
    >
      Next
    </button>
  </li>
</ul>

<app-create-topic (topicCreated)="refreshList()"></app-create-topic>

<div *ngIf="topics.length === 0">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">No more items</h5>
      <h6 class="card-subtitle mb-2 text-muted"></h6>
      <p class="card-text">Oooopss!!.. It seems that there are no more items</p>
    </div>
  </div>
</div>
<div *ngFor="let item of topics; let i = index">
  <div *ngIf="i % 4 == 0" class="row my-3">
    <app-topic
      (topicDeleted)="refreshList()"
      [topic]="topics[i]"
      class="col-sm-3"
    ></app-topic>
    <app-topic
      (topicDeleted)="refreshList()"
      *ngIf="i + 1 < topics.length"
      class="col-sm-3"
      [topic]="topics[i + 1]"
    ></app-topic>
    <app-topic
      (topicDeleted)="refreshList()"
      *ngIf="i + 2 < topics.length"
      class="col-sm-3"
      [topic]="topics[i + 2]"
    ></app-topic>
    <app-topic
      (topicDeleted)="refreshList()"
      *ngIf="i + 3 < topics.length"
      class="col-sm-3"
      [topic]="topics[i + 3]"
    ></app-topic>
  </div>
</div>
