<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="btn navbar-brand" (click)="navigateTo('/home')">NOTER</button>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav pull-sm-left">
      <li class="nav-item mr-1" *ngIf="loggedIn()">
        <button class="btn btn-outline-primary" (click)="navigateTo('/home')">Home</button>
      </li>
      <li class="nav-item" *ngIf="loggedIn()">
        <button class="btn btn-outline-primary" (click)="navigateTo('/shared-space')">Shared Space</button>
      </li>
    </ul>
        <ul class="navbar-nav ml-auto">
      <li class="nav-item mr-1 my-2 my-lg-0" *ngIf="!loggedIn()">
        <button
          class="btn btn-success btn-width"
          (click)="navigateTo('/register')"
        >
          Register
        </button>
      </li>
      <li class="nav-item my-2 my-lg-0" *ngIf="!loggedIn()">
        <button
          class="btn btn-primary btn-width"
          (click)="navigateTo('/login')"
        >
          Login
        </button>
      </li>
      <li class="nav-item my-2 my-lg-0" *ngIf="loggedIn()">
        <button class="btn btn-outline-warning btn-width" (click)="logout()">
          Logout
        </button>
      </li>
    </ul>
  </div>
</nav>
